.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 1;
  }
}
