/*=====================
  Базовая типография
=====================*/

// @font-face {
//   font-family: 'Gotham';
//   src:  url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
//         url('../font/GothamPro-Medium.otf') format('opentype'),
//         url('../font/GothamPro-Medium.woff') format('woff'),
//         url('../font/GothamPro-Medium.ttf') format('truetype'),
//         url('../font/GothamPro-Medium.svg#font/GothamPro-Medium') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

$base-font: Arial, sans-serif;

body {
  font-family: $base-font;
  font-size: 14px;
  line-height: 20px;
}
