doctype html
html(lang="ru")
  // ____  ____  ____   ___  ____  _  _  ____   __  ____   __   _  _
  /// ___)(  __)(  _ \ / __)(  __)( \/ )(  _ \ /  \(  _ \ /  \ / )( \
  //\___ \ ) _)  )   /( (_ \ ) _)  )  /  ) __/(  O )) __/(  O )\ \/ /
  //(____/(____)(__\_) \___/(____)(__/  (__)   \__/(__)   \__/  \__/

  head
    title Заголовок
    link(href="css/style.min.css", rel="stylesheet")

  body
  
  header.main-header.clearfix
    .container.row
      figure.logo.col.s-3 logotype
      nav.main-navigation.col.s-9
        ul.main-navigation__list
          each headerlinks in ['Link 1', 'Link 2', 'Link 3', 'Link 4', 'Link 5']
            li.main-navigation__item
              a(href="#")= headerlinks
